<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="MYCONSOLE" >
        <encoder>
            <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n </pattern> -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <property name="LOG_DIR" value="./logs" />
    <property name="LOG_NAME" value="springbootdemo1" />
    
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="MYROLLING" >
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>${LOG_DIR}/${LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_NAME}.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <!-- เก่าเกิน 30 วันให้ลบ -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- TRACE, DEBUG, INFO, WARN, ERROR -->
    <logger name="org.springframework" level="info" />
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="warn" />
    <logger name="org.hibernate.validator" level="info" />

    <root level="INFO">
        <appender-ref ref="MYCONSOLE" />
        <appender-ref ref="MYROLLING" />
    </root>

</configuration>
